LIVEKIT_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
LIVEKIT_AGENT_NAME=ke-agent

DEEPGRAM_API_KEY=
DEEPGRAM_STT_MODEL=nova-3
DEEPGRAM_STT_LANGUAGE_EN=en-US
DEEPGRAM_STT_LANGUAGE_UR=ur

LLM_PROVIDER=openai
OPENAI_API_KEY=
OPENAI_LLM_MODEL=gpt-4o-mini
OPENROUTER_API_KEY=
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
OPENROUTER_LLM_MODEL=x-ai/grok-3-mini-beta
LLM_MAX_COMPLETION_TOKENS=512
LLM_TEMPERATURE=0.05

UPLIFTAI_API_KEY=
UPLIFTAI_VOICE_ID=v_8eelc901
UPLIFTAI_OUTPUT_FORMAT=MP3_22050_32
CARTESIA_API_KEY=
CARTESIA_TTS_MODEL=sonic-turbo
CARTESIA_TTS_VOICE_ID_EN=f786b574-daa5-4673-aa0c-cbe3e8534c02
CARTESIA_TTS_SAMPLE_RATE=24000

LOG_LEVEL=INFO
